<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat en Tiempo Real</title>
</head>

<body>
    <ul id="messages"></ul>
    <form id="form">
        <input id="m" autocomplete="off" />
        <button type="submit">Enviar mensaje</button>
    </form>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        function isValidEmail(email) {
            const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            return emailRegex.test(email);
        }

        function promptForEmail() {
            let email;
            do {
                email = prompt("Ingrese su correo electrónico:");
            } while (!isValidEmail(email));
            return email;
        }

        const user = promptForEmail();

        $(function () {
            const socket = io();

            socket.emit('set username', user);

            socket.on('chat history', (messages) => {
                messages.forEach((message) => {
                    $('#messages').append($('<li>').text(`${message.user}: ${message.message}`));
                });
            });
            socket.on('chat message', (data) => {
                $('#messages').append($('<li>').text(`${data.user}: ${data.message}`));
            });

            $('form').submit(function (event) {
                event.preventDefault();
                const message = $('#m').val();
                if (message.trim() !== '') {
                    socket.emit('chat message', message);
                    $('#m').val('');
                }
            });
        });
    </script>
</body>

</html>
