<h2>Iniciar sesión</h2>
<hr>
<form action="/api/sessions/login" method="post">

{{#if error}}
    <div style="color: red;">{{error}}</div>
{{/if}}

{{#if mensaje}}
    <div style="color: green;">{{mensaje}}</div>
{{/if}}

<input type="email" name="email" placeholder="email">
<input type="password" name="password" placeholder="password">
<br><br>
<input type="submit" value="Ingresar" style="background-color: #0c7e74; color: #fff; padding: 5px 5px; border: none; border-radius: 5px; cursor: pointer;">
</form>
<br>
<a href="/registro" style="text-decoration: none; padding: 2px; background-color: #15791d; color: #ffffff; border-radius: 5px; display: inline-block;">Registrarse</a>
<a href="/api/sessions/github" style="text-decoration: none; padding: 2px; background-color: #101aa5; color: #ffffff; border-radius: 5px; display: inline-block;">Acceso con gitHub</a>