<h2 style="padding: 5px 1px; border: line: 5px; text-decoration:underline;">Perfil de {{usuario.nombre}}</h2>
<hr>
<p>nombre: <strong style="border: line: 5px; text-decoration:underline">{{usuario.nombre}}</strong> - Correo Electrónico: <strong style="border: line: 5px; text-decoration:underline">{{usuario.email}}</strong> - Rol: <strong style="border: line: 5px; text-decoration:underline">{{usuario.rol}}</strong></p>
