<h1>Productos en Tiempo Real</h1>

<ul id="realTimeProductList">
    {{#each products}}
        <li>{{this.title}} - {{this.description}} - ${{this.price}}</li>
    {{/each}}
</ul>

<script src="socket.io/socket.io.js"></script>
<script src='../public/js/products.js'></script>