        <section class="Contacto">
        <h2>Restablecer Contraseña</h2>
        <div class="CrearCuenta">
            <form method="POST" class="default-form">
                <div class="Campo">
                    <label for="Password">Contraseña:</label>
                    <input type="password" name="Contraseña" placeholder="Nueva Contraseña">
                </div>
                <div class="Campo left">
                    <br>
                    <button class="Boton" name="BtnCrears" type="submit" value="Crear Cuenta">
                        <span>Restablecer Contraseña</span>
                    </button>
                </div>
            </form>
        </div>
    </section>