<body>
    <h1>Producto Agregado con Éxito!!!</h1>
    <p>El producto se ha agregado correctamente al carrito.</p>
    <a href="/carts/{{cartId}}">Ir al Carrito</a>
    <a href="/productos">Volver a los Productos</a>
</body>
</html>