<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body><ul style="list-style-type: none; padding: 0; display: flex; align-items: center; margin">
    <li style="margin-right: 10px;"><a href="/" style="text-decoration: none; padding: 10px; background-color: #3498db; color: #ffffff; border-radius: 5px; display: inline-block;">Home Page</a></li>
    <li style="margin-right: 10px;"><a href="/productos" style="text-decoration: none; padding: 10px; background-color: #3498db; color: #ffffff; border-radius: 5px; display: inline-block;">Productos</a></li>

    <li style="margin-right: 10px;"><a href="/perfil"style="text-decoration: none; padding: 10px; background-color: #3498db; color: #ffffff; border-radius: 5px; display: inline-block;">Perfil</a></li>
    <li style="margin-right: 10px;"><a href="/api/sessions/logout" style="text-decoration: none; padding: 10px; background-color: #3498db; color: #ffffff; border-radius: 5px; display: inline-block;">Logout</a>
    <li style="margin-right: 10px;"><a href="/login" style="text-decoration: none; padding: 10px; background-color: #3498db; color: #ffffff; border-radius: 5px; display: inline-block;">Login</a></li>
    <li style="margin-right: 10px;"><a href="/registro" style="text-decoration: none; padding: 10px; background-color: #3498db; color: #ffffff; border-radius: 5px; display: inline-block;">Registro</a></li>
</li>
</ul>
<br><br><hr>
    {{{body}}}
</body>

</html>